.postList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-top: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postLink {
  justify-self: flex-start;
  color: var(--foreground);
  font-family: var(--font-serif);
  font-size: 1.5rem;
  text-decoration: none;
  /* border-bottom: 1px solid white; */
}

.postLink:hover {
  color: var(--foreground);
  text-decoration: underline;
}

.postDate {
  font-size: 0.75rem;
  color: var(--foreground);
  opacity: 0.5;
  font-family: var(--font-mono);
}

.postItem {
  margin-bottom: 1rem;
}
