.postList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-top: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postLink {
  justify-self: flex-start;
  margin-bottom: 1rem;
  color: var(--foreground);
  font-family: var(--font-serif);
  font-size: 1.25rem;
  text-decoration: none;
  /* border-bottom: 1px solid white; */
}

.postLink:hover {
  color: var(--foreground);
  text-decoration: underline;
}
